flask
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-together
langchain-pinecone

pinecone-client

sentence-transformers
huggingface-hub
transformers

PyPDF2
pdfminer.six

tiktoken

